/*
CURP: MIMM010523MDFRJNA9
*/
body {
    background-image: url(https://t3.ftcdn.net/jpg/00/84/55/66/360_F_84556601_W71hd1xmCxZUhsscyNlokY1an7Kqx6ZJ.jpg);
    color: rgb(62, 62, 62);
}

h1 {
    color: teal;
}

/* Para agregar clase, ponemos ( . ) 
antes del nombre */

.titulo-web {
    color: palevioletred;
    font-size:small;
}

img {
    width: auto;
    height: auto;
}

body {
    /* RBG */
    background-color: rosybrown;
    color: rgb(92, 40, 0);
    font-family: 'DM Serif Display', serif;
}